* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-align: center; */
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: rgba(6, 44, 94, 0.541);
}

#title-container {
  margin-top: 6rem;
  text-align: center;
}
#title-container h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 3px 2px 4px rgba(34, 8, 8, 0.712);
}
#add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem auto 6rem;
}
#add-container i {
  font-size: 2.5rem;
  color: rgb(37, 37, 37);
}
#add-container div:nth-child(2) {
  margin-right: 12rem;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 20px;
  background-color: #f7f7f7c0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  height: 55px;
  width: 600px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}
#add-container button {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.9rem;
  border-radius: 10px;
  transition: all 200ms linear;
  padding: 1rem;
}
.fa-plus {
  transition: all 200ms linear;
}
#add-container button:hover {
  background-color: rgb(95, 192, 95);
}
#add-container button:hover .fa-plus {
  color: white;
}

#add-container div:nth-child(1) {
  margin-right: 7rem;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 15px;
  background-color: #f7f7f7c0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  height: 20px;
  width: 200px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}
#add-container select {
  border: 0;
  background-color: transparent;
  offset: none;
  outline: none;
  height: 25px;
  font-size: 2rem;
  width: 100%;
  cursor: pointer;
}
/* #add-container option {
  width: 300px;
  margin-top: 2rem;
} */
#add-container input {
  border: 0;
  background-color: transparent;
  offset: none;
  outline: none;
  height: 35px;
  font-size: 2rem;
  width: 93%;
  margin-left: 1rem;
}
#todos-container {
  display: flex;
  justify-content: center;
}
#todos {
  margin-right: 18rem;
  font-size: 3.3rem;
  text-align: left;
  list-style: none;
  min-width: 30%;
  margin: 0 auto;
  padding-left: 2.7rem;
}
.todoschild {
  transition: all 200ms linear;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1rem ;
}

#todos .fas {
  font-size: 3rem;
}
.tick {
  color: rgb(12, 248, 12);
  transition: all 200ms liner;
}
.tick:hover {
  transform: scale(1.1);
}
.trash {
  color: red;
  transition: all 200ms liner;
}
.trash:hover {
  transform: scale(1.1);
}

#todos li {
  margin-top: 2rem;
}
#todos div span {
  margin-right: 1rem;
}

i {
  cursor: pointer;
}
.finished {
  opacity: 0.5;
}
.finished .act {
  text-decoration: line-through;
}
